<div class="is-fullheight hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-4 is-offset-4">
                    <form name="form-register" novalidate autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onRegisterClick()">
                        <div class="field">
                            <div class="control has-icon">
                                <input class="input" required [ngClass]="{'is-danger': registerForm.controls.username.invalid && registerForm.controls.username.touched}"
                                    formControlName="username" name="username" type="text" placeholder="Username">
                                <span class="icon is-small"><i class="fa fa-user"></i></span>

                                <div *ngIf="registerForm.controls.username.touched">
                                    <p class="help is-danger" *ngIf="registerForm.controls.username.hasError('required')">This username is required</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.username.hasError('minlength')">This username is too short</p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icon">
                                <input appEmailValidator class="input" required [ngClass]="{'is-danger': registerForm.controls.email.invalid && registerForm.controls.email.touched}"
                                    formControlName="email" name="email" type="text" placeholder="Email">
                                <span class="icon is-small"><i class="fa fa-envelope"></i></span>

                                <div *ngIf="registerForm.controls.email.touched">
                                    <p class="help is-danger" *ngIf="registerForm.controls.email.hasError('appEmailValidator')">This email is invalid</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.email.hasError('required')">This email is required</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.email.hasError('minlength')">This email is too short</p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icon">
                                <input class="input" required formControlName="password" [ngClass]="{'is-danger': registerForm.controls.password.invalid && registerForm.controls.password.touched}"
                                    name="password" type="password" placeholder="Password" appEqualValidator="passwordConfirm" reverse="true">
                                <span class="icon is-small"><i class="fa fa-lock"></i></span>

                                <div *ngIf="registerForm.controls.password.touched">
                                    <p class="help is-danger" *ngIf="registerForm.controls.password.invalid">This password is invalid</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.password.hasError('required')">This password is required</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.password.hasError('appEqualValidator')">Password confirm mismatch</p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icon">
                                <input class="input" required [ngClass]="{'is-danger': registerForm.controls.passwordConfirm.invalid && registerForm.controls.passwordConfirm.touched}"
                                    formControlName="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm password"
                                    appEqualValidator="password" reverse="false">
                                <span class="icon is-small"><i class="fa fa-lock"></i></span>

                                <div *ngIf="registerForm.controls.passwordConfirm.touched">
                                    <p class="help is-danger" *ngIf="registerForm.controls.passwordConfirm.invalid">This password is invalid</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.passwordConfirm.hasError('required')">This password is required</p>
                                    <p class="help is-danger" *ngIf="registerForm.controls.passwordConfirm.hasError('appEqualValidator')">Password confirm mismatch</p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button [disabled]="registerForm.invalid" type="submit" [class.is-loading]="isFetching" class="button is-success">Register</button>
                                Or <a routerLink="/auth/login">Login</a>
                            </p>
                        </div>

                        <p class="help is-danger" *ngIf="error">{{error.message}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>